---
GOOGLE_SITE_VERIFICATION: "googleSomeRandomc.html"
SITE_BASE_URL:            "https://www.example.com"
DIST_DIR:                 "./dist"
BOOTSTRAP_DIR:            "./node_modules/bootstrap"
JQUERY_DIR:               "./node_modules/jquery"
TETHER_DIR:               "./node_modules/tether"
FONTAWESOME_DIR:          "./node_modules/font-awesome"
DOC_DIR:                  "./static/doc"
FAVICON_IMG:              "./static/img/favicon.src.jpg"
ROBOTS:
  - "User-agent: *"
  - "Disallow: /css"
  - "Disallow: /js"
  - "Disallow: /fonts"
