footer
  .container.text-center
    p Copyright © Michael Ryan Dempsey 2016
  // jQuery
  script(src='jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='tether/tether.min.js')
  script(src='bootstrap/bootstrap.min.js')
  // Custom Theme JavaScript
  script(src='js/grayscale.js')
