.container.text-xs-center
  span.text-muted Copyright © Michael Ryan Dempsey 2016
//Bootstrap JS and Dependencies
script(src='js/jquery.min.js')
script(src='js/tether.min.js')
script(src='js/bootstrap.min.js')
