footer
  .container.text-xs-center
    span.text-muted Copyright © Michael Ryan Dempsey 2016
  // jQuery
  script(src='js/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='js/tether.min.js')
  script(src='js/bootstrap.min.js')
  // Custom Theme JavaScript
  script(src='js/grayscale.js')
