doctype html
html(lang='en')
  head
    include ./head.pug
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-nav
          button.navbar-toggler.hidden-sm-up(type="button",data-toggle="collapse",data-target="#navbarLinks",aria-controls="navbarLinks",aria-expanded="false",aria-label="Toggle navigation")
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top')
            i.fa.fa-home
            span.light Home
        // Collect the nav links, forms, and other content for toggling
        ul(class="nav navbar-nav collapse navbar-toggleable-xs pull-xs-right")#navbarLinks
          li.nav-item
            a.nav-link.page-scroll(href='#resume') Resume
          li.nav-item
            a.nav-link.page-scroll(href='#contact') Contact
    // Intro Header
    header.intro
      .intro-body
        .container
          .row
            .col-md-8.offset-md-2
              h1.brand-heading Bluestealth
              p.intro-text Software Developer
              a.btn.btn-circle.page-scroll(href='#resume')
                i.fa.fa-angle-double-down.animated
    // Download Section
    section#resume
      div
        .container.text-xs-center
         .col-md-8.offset-md-2
          h2 Download Resume
          p You can download my resume in the formats below
          ul.list-inline
            li.list-inline-item
              a.btn.btn-download.btn-lg(href='doc/Resume.pdf')
                i.fa.fa-file-pdf-o.fa-fw
                | PDF
            li.list-inline-item
              a.btn.btn-download.btn-lg(href='doc/Resume.docx')
                i.fa.fa-file-word-o.fa-fw
                | DOC
            li.list-inline-item
              a.btn.btn-download.btn-lg(href='doc/Resume.odt')
                i.fa.fa-file-text-o.fa-fw
                | ODT
    // Contact Section
    section#contact.container.content-section.text-xs-center
      .row
        .col-md-8.offset-md-2
          h2 Contact Bluestealth
          p
            | Feel free to email me about potential job offers, comments about the site, or just to say hi.
          ul.list-unstyled
            li
              a.contact-details(href='mailto:bluestealth@bluestealth.pw')
                i.fa.fa-envelope-o.fa-fw
                span
                  | bluestealth@bluestealth.pw
                  span
            li
              a.contact-details(href='mailto:michael.ryan.dempsey@gmail.com')
                i.fa.fa-envelope-o.fa-fw
                | michael.ryan.dempsey@gmail.com
            li
              a.contact-details(href='tel:+15713089167')
                i.fa.fa-phone.fa-fw
                | (571) 308-9167
          p Bainbridge IS, WA 98110
          ul.list-inline.banner-social-buttons
            li.list-inline-item
              a.btn.btn-secondary.btn-lg(href='https://github.com/bluestealth')
                i.fa.fa-github.fa-fw
                span.network-name Github
            li.list-inline-item
              a.btn.btn-secondary.btn-lg(href='http://codepen.io/bluestealth/')
                i.fa.fa-codepen.fa-fw
                span.network-name Codepen
            li.list-inline-item
              a.btn.btn-secondary.btn-lg(href='https://plus.google.com/111588817619649017844/posts')
                i.fa.fa-google-plus.fa-fw
                span.network-name Google+
            li.list-inline-item
              a.btn.btn-secondary.btn-lg(href='https://twitter.com/bluestealth001')
                i.fa.fa-twitter.fa-fw
                span.network-name Twitter
    include ./footer.pug
